/* style.css */

* {
    color: white;
    font-family: Arial, "Times New Roman", sans-serif;
    background-color: darkolivegreen;
    font-size: 18px;
}

.index-title {
    display: block;
    font-size: 64px;
    padding: 1%;
}

.h1 {
    font-size: 64px;
    font-weight: bold;
    padding: 1%;
}

.h2 {
    font-size: 32px;
    padding-top: 1%;
}

.recipe-links {
    background-color: blanchedalmond;
    color: black;
    display: inline-block;
    padding: 12px;
    border: 2px black solid;
    margin: 8px;
    font-size: 24px;
    font-style: italic;
}


